<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <a href="https://formus.edu.mx" target="_blank"><img class="u-logo" src="{{ site.baseurl }}/assets/images/FormusLogo.png" alt="FORMUS" width="200" /></a>
      </div>
      <div class="footer-col">
        <p></p>
        <p>&#xA9; 2025 FORMUS | Desarrollado por Moisés Santillán</p>
      </div>
    </div>

  </div>
</footer>
